<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Palindromes</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <h1>The Whole Palindrome Checker</h1>
        <p>A palindrome is a phrase that is spelled the same way, backwards and forwards
            (ignoring spacing and punctuation; only alphanumeric characters matter) </p>
    </header>

    <main class="container">
        {{{body}}}
    </main>

    <footer>
        <article>
            <h3>Jingxuan Ai, 10431517</h3>
            <p>This is a brief introduction: ... The end.</p>
        </article>
    </footer>

    <script src="/public/js/form.js"></script>
</body>

</html>