[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Master-Alcy
	email = aijingxuan92@gmail.com
[winUpdater]
	recentlySeenVersion = 2.19.1.windows.1
[alias]
	s = status
	ca = commit -m
[gui]
	recentrepo = C:/Users/aijin/github/git
[github]
	user = Master-Alcy
	token = b39993783302075fb80357b01cd371955f9303f3
[core]
	editor = 'C:\\Academic\\Sublime Text 3\\sublime_text.exe' -w
