[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Master-Alcy
	email = aijingxuan92@gmail.com
[winUpdater]
	recentlySeenVersion = 2.19.0.windows.1
[alias]
	s = status
	ca = 'git commit -m'
