<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        The Palindrome Results!
    </title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>

    <footer>
        <a href="/">Try another palindrome</a>
    </footer>
</body>


</html>