<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        The Best Palindrome Checker in the World!
    </title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>