
@media screen and (max-width: 970px) {
    .nav-logo {
        margin-left: -30px;
    }
}

<<<<<<< HEAD
.navbar{
    background: #123C69;
   
}

.navbar-light .navbar-nav .nav-link{
    color:  #EDC7B7;
}
.navbar-light:hover  .navbar-nav:hover .nav-link :hover{
    color:  whitesmoke
}
.navbar-nav:hover{
    color:  whitesmoke
}
=======



>>>>>>> 887ef9b15c5adc7dcec8b96530399b6466e77bc6
.button {
    padding: 0.4rem .8rem;
    background-color: #28547a;
    border-radius: 3px;
    color: white;
    text-decoration: none !important;
}

.card {
<<<<<<< HEAD
    box-shadow: 0 4px 8px 0 rgba(87, 85, 85, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    margin: 0 auto 20px;
    background:whitesmoke;
=======
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    margin: 0 auto 20px;
>>>>>>> 887ef9b15c5adc7dcec8b96530399b6466e77bc6
}


input,
select {
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #28547a;
}
<<<<<<< HEAD

=======
.signup-h2 {
    font-size: 25px;
    color: gray;
    font-family: "Domine";
    text-align: center;
}
>>>>>>> 887ef9b15c5adc7dcec8b96530399b6466e77bc6
