<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User Data</title>
    <link rel="stylesheet" href="/public/css/main.css" >
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >
    <link rel="icon" href="/favicon.ico" type="image/x-icon" >
</head>

<body>
    <header>
        <h1>A Simple User Login System</h1>
        <p>This would take a few seconds to search</p>
    </header>

    <main class="container">
        {{{body}}}
    </main>

    <footer>
        <article>
            <h3>Jingxuan Ai, 10431517</h3>
            <p>This is a brief introduction: ... The end.</p>
        </article>
    </footer>
</body>

</html>